
<main id="main">
    <div class="container">
        
        <!--Tabla de Errores-->
        <div class ="row">
            <div class="col-100">
                <div class="section-title">
                <h2>Errores</h2>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tipo de Error</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Línea</th>
                        <th scope="col">Columna</th>
                    </tr>
                    <tr *ngFor="let error of salidaE; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{error.tipo}}</td>
                        <td>{{error.descripcion}}</td>
                        <td>{{error.linea}}</td>
                        <td>{{error.columna}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--Tabla de Tokens-->
        <div class ="row">
            <div class="col-100">
                <div class="section-title">
                    <h2>Tabla de Simbolos</h2>
                    </div>
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>Identificador</th>
                        <th>Clase</th>
                        <th>Tipo</th>
                        <th>Valor</th>
                        <th>Entorno</th>
                        <th>Línea</th>
                        <th>Columna</th>
                    </tr>
                    <tr *ngFor="let simbolo of salidaS; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{simbolo.id}}</td>
                        <td>Variable</td>
                        <td>{{simbolo.tipo}}</td>
                        <td>{{simbolo.valor}}</td>
                        <td>{{simbolo.entorno}}</td>
                        <td>{{simbolo.linea}}</td>
                        <td>{{simbolo.columna}}</td>
                    </tr>
                    <tr *ngFor="let metodo of salidaM; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{metodo.id}}</td>
                        <td>Método</td>
                        <td>{{metodo.tipo}}</td>
                        <td>-</td>
                        <td>-</td>
                        <td>{{metodo.linea}}</td>
                        <td>{{metodo.columna}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--Arbol AST-->
        <div class ="row">
            <div class="col-100">
                <div class="section-title">
                    <h2>AST</h2>
                    </div>
                <br>
                <div [appGraphVis]="graphData" class="graph-container"></div>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    

  </main><!-- End #main -->




