<div class="container">
    <div class="row">
        <div class="col-100">
            <h1>TypeWise - Reportes</h1>
        </div>
    </div>
    <!--Tabla de Errores-->
    <div class ="row">
        <div class="col-100">
            <h2>Errores Detectados</h2>
            <table>
                <tr>
                    <th>#</th>
                    <th>Tipo de Error</th>
                    <th>Descripción</th>
                    <th>Línea</th>
                    <th>Columna</th>
                </tr>
                <tr *ngFor="let error of salidaE; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{error.tipo}}</td>
                    <td>{{error.descripcion}}</td>
                    <td>{{error.linea}}</td>
                    <td>{{error.columna}}</td>
                </tr>
            </table>
        </div>
    </div>
    <!--Tabla de Tokens-->
    <div class ="row">
        <div class="col-100">
            <h2>Tabla de Simbolos</h2>
            <table>
                <tr>
                    <th>#</th>
                    <th>Identificador</th>
                    <th>Clase</th>
                    <th>Tipo</th>
                    <th>Valor</th>
                    <th>Entorno</th>
                    <th>Línea</th>
                    <th>Columna</th>
                </tr>
                <tr *ngFor="let simbolo of salidaS; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{simbolo.id}}</td>
                    <td>Variable</td>
                    <td>{{simbolo.tipo}}</td>
                    <td>{{simbolo.valor}}</td>
                    <td>{{simbolo.entorno}}</td>
                    <td>{{simbolo.linea}}</td>
                    <td>{{simbolo.columna}}</td>
                </tr>
                <tr *ngFor="let metodo of salidaM; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{metodo.id}}</td>
                    <td>Método</td>
                    <td>{{metodo.tipo}}</td>
                    <td>-</td>
                    <td>-</td>
                    <td>{{metodo.linea}}</td>
                    <td>{{metodo.columna}}</td>
                </tr>
            </table>
        </div>
    </div>
    <!--Arbol AST-->
    <div class ="row">
        <div class="col-100">
            <h2>Arbol AST</h2>
            <br>
            <div [appGraphVis]="graphData" class="graph-container"></div>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>

